{
    "plugins": [
        "react"
    ],
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "env": {
        "es6":     true,
        "browser": true,
        "node":    true,
        "mocha":   true
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "rules": {
        "semi": [2, "always", { "omitLastInOneLineBlock": true}],
        "no-prototype-builtins": 0,
        "no-loss-of-precision": 0,
        "no-unused-vars": 0,
        "react/no-deprecated": 0
    }
}
